extends layout.pug

block content

  article.portfolio-intro

    h1=header

    p=portfolio

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`project/${project.id}`)
            img.thumbnail(src=`/static/img/${project.image_urls[0]}`)
            h5=project.project_name


